# Data types and Variables

**Using variables of different types and functions**
Exercise 1
The cell below contains a function. Functions are named sets of instructions that do one particular thing, often creating a new set of data but sometimes just setting something up.

A function starts with the keyword def (short for define or definition). All instructions below the definition are indented and this indicates that they are part of that function. A function runs when its name is used outside the function (here it is not indented). The indentation is important, note where the code is and isn't indented.

create a variable called name and assign it a value (any name)
print the message “Hello” name
change the value of name and run the code again to get a new message

In [ ]:
def function():
    name: 'ahmed'
    print('Hello', name)

function()

# Output: Hello ahmed
name:'ali'
print('Hello', name)
# Output: Hello ali

**Exercise 2**
create two variables num1 and num2 and assign them each a whole number
create a third variable total which will store the sum of num1 + num2
print the message num1, "+", num2, "=" ,total.
Change the value of one of the numbers and run the code again to get new messages and a new total.

In [ ]:
def show_total():
    num1 = 5
    num2 = 7
    total = num1 + num2
    print(num1, "+", num2, "=", total)

show_total()

# Change a number
def show_total():
    num1 = 10
    num2 = 3
    total = num1 + num2
    print(num1, "+", num2, "=", total)

show_total()

**Exercise 3 - variables of different types**
create a variable called name and assign it the value "Billy"
create a variable called age and assign it the value 18
print a message "Hello name you are age years old"
Test input:
Billy
18

Expected output:
Hello Billy you are 18 years old

In [ ]:
def show_info():
    age:18
    name:'billy'
    print('hello', name, 'you are', age, 'years old')
show_info()

Exercise 4 - float variables (and writing your own function)

Write a function called show_price() which will:

create a variable called product and assign the value "Chocolate Bar"
create a variable called cost and assign the value 1.39
print the message product, "costs", "£", cost
Expected output:
Chocolate Bar costs £ 1.39

In [ ]:
def show_price():
    product = "Chocolate Bar"
    cost = 1.39
    print(product, "costs", "£", cost)

# Call the function to see the output
show_price()


Exercise 5 - concatenating strings
Write a function called show_full_name() which will:

create variable called name and assign it the value "Monty"
create a variable called surname and assign it the value "Python"
create a variable called full_name and assign it the value name + " " + surname
print the full_name
Expected output:
Monty Python

In [ ]:
def full_name():
    name:'monty'
    surname:'python'
    full_name = name + ' ' + surname
    print('Hello', full_name)
full_name()